div{
    background-image: linear-gradient(green,yellowgreen,white,red);
    height: 500px;
    width: 500px;
    border-radius: 250%;
    transition-property: transform;
    transition-duration: 900ms;
    transition-timing-function: linear;
}
div:hover{
    transform:rotate(360deg)
}
div:active{
    transform: rotateX(50deg) rotateY(240deg) rotateZ(130deg);
}